<claiv-sidebar [style.--sidebar-width]="'10rem'">
    <claiv-box>
        <claiv-cover>
            <h1>test</h1>
            <p>sidebar</p>
        </claiv-cover>
    </claiv-box>
    <claiv-box>
        <claiv-center>
    
            <claiv-stack class="small-stack">
                <claiv-box>
                    <claiv-cluster [style.--justify]="'space-between'">
                        <h1>TITLE</h1>
                        <claiv-cluster>
                            <!-- <h2>foo</h2> -->
                    
                            <claiv-box>
                                FOO
                            </claiv-box>
                            <claiv-box>
                                BAR
                            </claiv-box>
                            <claiv-box>
                                FOOFOO
                            </claiv-box>
                            <claiv-box>
                                BARBAR
                            </claiv-box>
                            <claiv-box>
                                FOOFOOFOO
                            </claiv-box>
                            <claiv-box>
                                BARBARBAR
                            </claiv-box>
                            
                        </claiv-cluster>
                    </claiv-cluster>
                </claiv-box>

                <claiv-box>
                    <claiv-cover [style.--min-height]="'5vh'">
                        <claiv-frame [style.--d]="'4'" [style.--n]="'3'">
                            <img src="assets/horizon.png">
                        </claiv-frame>
                    </claiv-cover>
                </claiv-box>
                
                <claiv-imposter style="--positioning: fixed; ">
                    <claiv-box style="background-color: darkgray; color: white;">
                        STONKS
                    </claiv-box>
                </claiv-imposter>
                
                <claiv-reel>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                    <claiv-box>
                        FOO
                    </claiv-box>
                    <claiv-box>
                        BAR
                    </claiv-box>
                </claiv-reel>
        
            <!-- <p [innerHtml]="time$ | async"></p> -->
                    <claiv-box class="test">
                        <claiv-stack>
                            <p [innerHtml]="storageType$ | async"></p>
                            <p [innerHtml]="storageType$ | async"></p>
                            <p [innerHtml]="storageType$ | async"></p>
                            <p [innerHtml]="storageType$ | async"></p>
                        </claiv-stack>
                    </claiv-box>
                <claiv-box>
                    <claiv-grid>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                        <claiv-box>
                            _
                        </claiv-box>
                    </claiv-grid>
                </claiv-box>
            
                <claiv-stack class="big-stack">
                    <claiv-switcher>
                        <claiv-box>
                            <claiv-center>
                                <p [innerHtml]="storageType$ | async"></p>
                            </claiv-center>
                        </claiv-box>
                        <claiv-box>
                            <claiv-center>
                                <p [innerHtml]="storageType$ | async"></p>
                            </claiv-center>
                        </claiv-box>
                        <claiv-box>
                            <claiv-center>
                                <p [innerHtml]="storageType$ | async"></p>
                            </claiv-center>
                        </claiv-box>
                    </claiv-switcher>
                </claiv-stack>
        
                
        
            </claiv-stack>
        </claiv-center>
    </claiv-box>
    
</claiv-sidebar>